<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Panjang :
    <span th:text="${luas.panjang}"></span>
    <br>
    Lebar :
        <span th:text="${luas.lebar}"></span>
    <br>
    Hasil :
        <span th:text="${luas.luasHitung()}"></span>
</body>
</html>
