<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<marquee>
    <h2>Output : <span th:text="${jenis}"></span></h2>
    <form th:action="@{/bangunruang/luas}" method="post" th:object="${luas}">
        Panjang :<br>
        <input type="text" th:field="*{panjang}">
        <br>
        Lebar :<br>
        <input type="text" th:field="*{lebar}">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</marquee>
</body>
</html>
