<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Book </title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen">
</head>
<body>
<div class="col-md-4 offset-4" th:style="'padding-top: 5em'">
    <h1>Form Book</h1>
    <form th:action="@{/book/create}" method="post" th:object="${Books}">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>
        <div class="form-group row">
            <div class="col-md-12">
                <input type="text" th:field="*{bookName}" placeholder="Name" class="form-control" required/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <input type="text" th:field="*{bookAuthor}" placeholder="Author" class="form-control" required/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary btn-block" th:value="Simpan">
            </div>
        </div>

    </form>
</div>
</body>
</html>