<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Book</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen">
</head>
<body>
    <div class="col-md-4 offset-md-4" th:style="'padding-top: 5em'">
        <h1>List Book</h1>
        <a th:href="@{/book/create}"><p>Add Book</p></a>
        <fieldset>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Book Name</th>
                        <th>Book Author</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="Book : ${Books}">
                        <td><span th:text="${Book.getBookName()}"></span></td>
                        <td><span th:text="${Book.getBookAuthor()}"></span></td>
                        <td><a th:href="@{/book/edit/{id}(id=${Book.id})}">Edit</a> | <a th:href="@{/book/delete/{id}(id=${Book.id})}" onclick="return confirm('Are you sure ?')">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</body>
</html>